body {
    color: rgb(4, 3, 3);
}

.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(172, 71, 71);
    font-size: 3rem;
    min-width: 80rem;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba (5, 102, 245, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.answer-prefix {
    padding: 2rem 2.5rem;
    color: rgb(0, 4, 1);
}

.answer-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(223, 117, 11) 0%, rgb(211, 221, 31) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}



@media screen and (max-width: 768px) {
    .answer-container {
        min-width: 40rem;
    }
}