h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}

/*quiz container*/

.quizContainer {
    background-color: rgb(180, 54, 54);
    border-radius: 5px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    position: relative;
}

.nextButton {
    border-radius: 5px;
    height: 35px;
    text-align: center;
    background-color: rgb(73, 73, 206);
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    float: right;
    right: 30%;
}

.preButton {
    border-radius: 5px;
    height: 35px;
    text-align: center;
    background-color: rgb(73, 73, 206);
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    float: left;
    left: 30%;
}

.question {
    background-color: blue;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    background-color: crimson;
    text-align: center;
}

.quizMessage {
    background-color: crimson;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    position: absolute;
    top: 80%;
    left: 40%;
}

.answer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.result {
    width: 40%;
    height: auto;
    border-radius: 5px;
    background-color: aquamarine;
    margin: auto;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 30%;
}

